body{font-size: 18px; background-color: #968A84;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif; 
    text-align: center; color: #786E44; text-align: center; display:block}
th{color: #524E4F; font-size:20px}
td{color: #570e14;}